.appointments-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
}

.appointments-container h2 {
  text-align: center;
  color: #1d3557;
  margin-bottom: 2rem;
}

.appointments-list {
  list-style: none;
  padding: 0;
}

.appointment-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  align-items: center;
  background-color: #f9f9f9;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  border-left: 5px solid;
}

.appointment-item.status-reservado {
  border-left-color: #fca311; 
}

.appointment-item div {
  font-size: 1.1rem;
}

.appointment-date {
  font-weight: bold;
  color: #1d3557;
}

.appointment-time {
  text-align: center;
}

.appointment-status {
  text-align: right;
  font-weight: bold;
  text-transform: capitalize;
}

.appointment-status.status-reservado {
    color: #fca311;
}

.error-message {
    color: #c62828;
}

.cancel-button {
  grid-column: span 1; /* ocupa todo el ancho en la fila siguiente */
  background-color: #e63946;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-top: 0.5rem;
}

.cancel-button:hover {
  background-color: #d62828;
}
